a:visited {
    color: $main-color;
    text-decoration: none;
}

a:hover {
    color: $main-color-2;
    text-decoration: none;
}

#rng{
    background: none;
    border: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: large;
}